@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    @apply leading-[normal]  bg-gray-100 text-gray-800;
}

@layer base {
    .btn {
        @apply inline-flex  justify-center items-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
    }
    .btn-primary {
        @apply bg-primary-600 text-white hover:bg-primary-500 focus-visible:outline-indigo-600;
    }

    .btn-secondary {
        @apply bg-white text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
    }
    .dropdown-link {
        @apply block w-full px-4 py-2.5 text-left  leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none transition duration-150 ease-in-out;
    }
    .select-form,
    .input-form,
    .input-textarea {
        @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6 disabled:bg-gray-200;
    }
    .input-radio {
        @apply h-4 w-4 border-gray-300 text-primary-600 focus:ring-primary-600;
    }
    .input-checkbox {
        @apply h-4 w-4 rounded border-gray-300 text-primary-600 focus:ring-primary-600;
    }
}

@layer utilities {
    .bg-gradient-red {
        @apply bg-gradient-to-l from-primary-500 via-primary-600 to-primary-700;
    }
    .bg-gradient-red-invert {
        @apply bg-gradient-to-l from-blue-500 via-purple-600 to-red-500;
    }
    .bg-gradient {
        @apply bg-gradient-to-r from-purple-700 to-blue-700;
    }
    .bg-gradient-invert {
        @apply bg-gradient-to-l from-purple-700 to-blue-700;
    }

    .pt-navbar {
        @apply pt-20 lg:pt-24;
    }
    h1 {
        @apply text-4xl leading-tight  sm:text-5xl md:text-6xl lg:text-7xl;
    }
    h2 {
        @apply text-3xl leading-[1.1]   sm:text-4xl md:text-5xl;
    }
    h3 {
        @apply text-2xl  sm:text-3xl  md:text-4xl;
    }
    h4 {
        @apply text-xl  sm:text-2xl  md:text-3xl;
    }
    h5 {
        @apply text-lg  sm:text-xl  md:text-2xl;
    }
    h6 {
        @apply text-base  sm:text-lg  md:text-xl;
    }

    .py-section {
        @apply py-12 lg:py-14 xl:py-16;
    }
    .pb-section {
        @apply pb-12 lg:pb-14 xl:pb-16;
    }
}
select option {
    color: black;
}

.ticket {
    --mask: linear-gradient(#000 0 0) center/calc(100% - 8px) 100% no-repeat,
        conic-gradient(
                from -135deg at right,
                #0000,
                #000 1deg 89deg,
                #0000 90deg
            )
            right/4px 8px repeat-y,
        conic-gradient(from 45deg at left, #0000, #000 1deg 89deg, #0000 90deg)
            left/4px 8px repeat-y;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
.ticket-border-rounded {
    @apply relative;
}
.ticket-border-rounded::before,
.ticket-border-rounded::after {
    @apply absolute -top-6 h-12 w-7
     content-[''];
}
.ticket-border-rounded::before {
    @apply -left-[34px] rounded-r-full;
}
.ticket-border-rounded::after {
    @apply -right-[34px] rounded-l-full;
}

.carousel-img .swiper-container {
    width: 100%;
}
.carousel-img .swiper-wrapper {
    width: 50% !important;
}
.carousel-img .swiper-slide {
    text-align: center !important;
    width: auto !important;
}

.table-list {
    @apply w-full;
}
.table-list thead tr {
    @apply bg-gray-100;
}
.table-list thead tr th {
    @apply text-gray-800 bg-gray-100 p-4 text-start font-semibold;
}
.table-list thead tr th:first-child {
    @apply rounded-tl-lg;
}
.table-list thead tr th:last-child {
    @apply rounded-tr-lg text-right;
}
.table-list tbody {
    @apply divide-y;
}
.table-list tbody tr td {
    @apply px-3 py-3 text-start;
}
.table-list tbody tr td:last-child {
    @apply text-right;
}

.trix-button-group.trix-button-group--file-tools {
    display: none;
}
